.main{
    display: flex;
    .lefisidebar{
        width: 25%;
        position: fixed;
        top: 0;
        height: 100vh;
        overflow-y: scroll;
    }
    .together{
        width: 75%;
        position: absolute;
        right: 0;
        display: flex;

        .content{
            width: 60%;
            border: solid 1px rgb(223, 239, 249);
            border-top: none;
    
        }
        .rightsidebar{
            width: 40%;
        }
    }
    
}

@media screen and (max-width:1060px) {
    .main{
        .lefisidebar{
            width: 14%;
        }
        .together{
            width: 86%;
        }
    }
}
@media screen and (max-width:1018px) {
    .main{
        .leftsidebar{
            width: 16%;
        }
        .together{
            width: 84%;
            .content{
                width: 100%;
            }
            .rightsidebar{
                display: none;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .main{
        .lefisidebar{
            display: none;
        }
        .together{
            width: 100%;
        }
    }
}