.main{
    display: flex;
    .lefisidebar{
        width: 25%;
        border: solid;
    }
    .content{
        width: 45%;
        border: solid;
    }
    .rightsidebar{
        width: 30%;
        border: solid;
    }
}