.main-contents{
    .links{
        position: sticky;
        padding: 3% 0 0 0;
        top: 0;
        z-index: +5;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-bottom: solid 1px rgb(223, 239, 249);

        h2{
            margin: 0 0 3% 3%;
            font-size: 20px;
        }
        div{
            display: flex;
            a{
                width: 50%;
                border: none;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                color: black;
                padding-top: 15px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background: rgb(236, 236, 236);
                }
                &:first-child{
                   p{
                        border-bottom: solid 3px rgb(29, 161, 242);
                        font-weight: 600;
                   }
                }
                p{
                    padding-bottom: 10px;
                    width: -moz-fit-content;
                    width: fit-content;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .search{
        display: flex;
        padding: 2% 0 0% 2%;
        border-bottom: solid 1px rgb(223, 239, 249);
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        .main-search{
            width: 100%;
            margin-left: 3%;
            input{
                width: 100%;
                padding: 15px 15px 15px 0;
                font-size: 20px;
                border: none;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    font-weight: 500;
                    color: black;
                    opacity: 0.8;
                }
            } 
            .links{
                display: flex;
                justify-content: space-between;
                border: none;
                border-top: solid 1px rgb(223, 239, 249);
                padding: 2% 2% 2% 0;
                align-items: center;
                position: relative;
                z-index: 1;
                .main-links{
                    i{
                        color: rgb(29, 161, 242);
                        font-size: 15px;
                        padding: 12px;
                        border: none;
                        border-radius: 50%;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        &:hover{
                            background: rgb(223, 239, 249);
                        }
                        &:last-child{
                            opacity: 0.5;
                            cursor: default;
                            &:hover{
                                background: none;
                            }
                        }
                    }
                }
                button{
                    padding: 8px 18px;
                    border-radius: 20px;
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    background: rgb(29, 161, 242);
                    opacity: 0.6;
                }
            }
        }
    }
    .posts{
        // border: solid;
        .main-post{
            // border: solid;
            padding: 2% 3%;
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px rgb(223, 239, 249);
            .profile-pic{
                width: 10%;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
            .contents{
                width: 88%;
                .head{
                    h4,p{
                        display: inline-block;
                        cursor: pointer;
                    }
                    h4{
                        font-weight: 900;
                        font-size: 16px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    p{
                        opacity: 0.7;
                        font-size: 15px;
                    }
                }
                .desc{
                    margin-top: 3%;
                    line-height: 24px;
                    font-size: 15px;
                    font-weight: 500;
                }
                .post-img{
                    width: 100%;
                    margin-top: 2%;
                    img{
                        width: 100%;
                        border-radius: 8px;
                    }
                }
                .reactions{
                    // border: solid;
                    p{
                        i{
                            color: black;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}